#campoObligatorio {
    color: red;
}

#submitButton input {
    margin-right: 10px;
}

.btn-secondary {
    background-color: grey;
}

.card {
    position: relative;
    display: inline-flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    width: 23%;
    margin: 20px 0px 20px 21px;
    box-shadow: 0px 0px 20px black;
    min-width: 300px;
}

.card > .card-header + .list-group, .card > .list-group + .card-footer {
    border-top: 0
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem
}

.card-title {
    margin-bottom: .75rem

}

.card-text:last-child {
    margin-bottom: 0
}

.card-text {
    margin-top: 15px;
    font-size: 16px;
}

.card-link:hover {
    text-decoration: none
}

.card-link + .card-link {
    margin-left: 1.25rem
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    width: 100%;
    height: 260px;

}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, .03);
    border-top: 1px solid rgba(0, 0, 0, .125)
}

.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px)
}


.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    border-radius: calc(.25rem - 1px)
}

.card-img, .card-img-bottom, .card-img-top {
    flex-shrink: 0;
    width: 100%
}

.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px)
}

.card-img, .card-img-bottom {
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px)
}

.card-group > .card {
    margin-bottom: 15px
}

@media (min-width: 576px) {
    .card-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }

    .card-group > .card {
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        margin-bottom: 0
    }

    .card-group > .card + .card {
        margin-left: 0;
        border-left: 0
    }

    .card-group > .card:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }

    .card-group > .card:not(:last-child) .card-header, .card-group > .card:not(:last-child) .card-img-top {
        border-top-right-radius: 0
    }

    .card-group > .card:not(:last-child) .card-footer, .card-group > .card:not(:last-child) .card-img-bottom {
        border-bottom-right-radius: 0
    }

    .card-group > .card:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }

    .card-group > .card:not(:first-child) .card-header, .card-group > .card:not(:first-child) .card-img-top {
        border-top-left-radius: 0
    }

    .card-group > .card:not(:first-child) .card-footer, .card-group > .card:not(:first-child) .card-img-bottom {
        border-bottom-left-radius: 0
    }
}

#panel {
    width: 100%;
    background: #333333;
    height: 100%;
    padding-top: 1px;
}


/*main.php*/
.navbar {
    background: black;
    min-height: 77px;
}

#navbar {
    margin: 22px 0 18px 0;
}

.navbar-nav > li > a {
    padding: 7px 15px;
}

.navbar-header {
    margin: 13px 0 0 0;
}

.navbar-brand {
    padding: 0 25px;
}

.navbar-default .navbar-nav > li > a {
    color: #bdbdbd;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover {
    border-bottom: red 2px solid;
    color: white;
}

#user-loged {
    color: red;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
}

#user-loged:hover {
    border-bottom: 0;
}

i {
    margin-right: 10px;
}


/*home/index.php*/
#home-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)), url("../../images/backgrounds/home-photo.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

#home-container a, h1 {
    color: white;
    font-weight: bold;
}

#home-container h1 {
    margin-top: 15%;
    font-size: 50px;
}

#home-container a {
    font-size: 18px;
}

/*usuarios/iniciarsesion.php & usuarios/registrarse.php*/
#iniciarsesion-container {
    height: 100%;
    padding-top: 3%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)), url("../../images/backgrounds/iniciarsesion-photo.jpg");
    background-size: cover;
}

#registrarse-container {
    height: 100%;
    padding-top: 2%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)), url("../../images/backgrounds/registrarse-photo.jpg");
    background-size: cover;
}

.panel-default {
    border: transparent 1px;
    box-shadow: 0px 0px 20px black;
}

.panel {
    width: 40%;
    margin: 3% auto auto;
}

.panel-default > .panel-heading {
    background-color: rgb(215, 0, 0);
    color: white;
}

.panel-title {
    font-weight: bold;
}

.form-control {
    border-color: rgba(255, 68, 68, 0.62);
}

#submitButton {
    margin-top: 20px;
    display: flex;
    justify-content: end;
}


/*pilotos/index.php*/
#pilotos_index {
    height: 100%;
    background: #333333;
}

#pilotos_index img {
    width: 100%;

}
#h2_pilotos {
    margin: 19px 0 0 19px;
    padding: 10px;
    font-weight: bold;
}

#cabecera_piloto {
    display: flex;
    justify-content: space-between;
    color: white;
}

#cabecera_piloto p {
    margin: 33px 0 0 0;
    font-weight: bold;
    font-size: 16px;
}

#addPiloto a, .card-footer a{
    color: white;
    margin: 0 30px 0 10px;
    padding: 10px 12px;
}

#addPiloto i, .card-footer i {
    margin: 3px 0px;
}

#pilotos {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    background-color: #333333;
    padding: 10px;
}

.card-footer {
    display: flex;
    justify-content: end;
}

.card-footer .btn {
    margin-right: 0;
}

#addPiloto .btn-danger {
    background: red;
}

.card-title {
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .125) ;
}


@supports(object-fit: cover){
    #pilotos_index img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

/*escuderias/index.php*/
#escuderias_index {
    height: 100%;
    background: #333333;
}

#escuderias_index img {
    width: 100%;

}
#h2_escuderias {
    margin: 19px 0 0 19px;
    padding: 10px;
    font-weight: bold;
}

#cabecera_escuderia {
    display: flex;
    justify-content: space-between;
    color: white;
}

#cabecera_escuderia p {
    margin: 33px 0 0 0;
    font-weight: bold;
    font-size: 16px;
}

#addEscuderia a, .card-footer a{
    color: white;
    margin: 0 30px 0 10px;
    padding: 10px 12px;
}

#addEscuderia i, .card-footer i {
    margin: 3px 0px;
}

#escuderias {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    background-color: #333333;
    padding: 10px;
}

.card-footer {
    display: flex;
    justify-content: end;
}

.card-footer .btn {
    margin-right: 0;
}

#addEscuderia .btn-danger {
    background: red;
}

.card-title {
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .125) ;
}


@supports(object-fit: cover){
    #escuderias_index img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

/*pilotos/add.php*/
#panel_piloto  {
    margin-bottom: 5%;
}

/*carreras/index.php*/
#carreras_index {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    color: black;
    background: white;
    height: 100%;
    display: flex;
}

#cabecera_sidevar {
    display: flex;
    justify-content: space-between;
    border-bottom: red 3px solid;
    color: white;
}
.sidenav {
    height: 100%;
    width: 0;
    position: sticky;
    z-index: 1;
    top: 77px;
    left: 0;
    background-color: #232323;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.sidenav h3{
    padding-left: 10px;
    margin-top: 0px;
    font-weight: bold;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
}

#carrera {
    margin: 20px 0 0 30px;
    font-size: 16px;
    display: inline-block;
    color: white;
    transition: 0.3s;
    font-weight: bold;
    padding: 0px 0 10px 0;
}

#carrera:hover {
    border-bottom: red 2px solid;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
}

#carreras {
    transition: margin-left 0.5s;
    padding: 15px;
    width: 100%;
}

#carreras {
    transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#btn-add {
    margin: 10px;
}

#btn-add .btn {
    padding: 10px 0;
}


